<template>
  <v-layout row>
    <v-flex>
      <v-tabs v-model="tabs" grow color="blue-grey lighten-4">
        <v-tabs-slider color="white"></v-tabs-slider>
        <v-tab href="#mobile-tabs-5-1" class="primary--text">un-read</v-tab>
        <v-tab href="#mobile-tabs-5-2" class="primary--text">all</v-tab>
      </v-tabs>
      <v-card>
        <v-tabs-items v-model="tabs" class="white elevation-1">
          <v-tab-item :value="'mobile-tabs-5-1'">
            <v-list two-line>
              <div>
                <template v-if="item.read === false" v-for="(item, index) in messages">
                  <v-list-tile avatar>
                    <v-list-tile-content @click.stop="dialog = true" @click="viewMessage(item)">
                      <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                      <v-list-tile-sub-title class="text--primary">{{ item.email }} | {{ item.telephone }}</v-list-tile-sub-title>
                      <v-list-tile-sub-title>{{ item.message }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                    <v-list-tile-action ripple @click="toggle(index)">
                      <v-list-tile-action-text>{{ item.date | moment("calendar") }} - {{ item.read }}</v-list-tile-action-text>
                      <v-icon v-if="selected.indexOf(index) < 0" color="grey lighten-1">star_border</v-icon>
                      <v-icon v-else color="yellow darken-2">star</v-icon>
                    </v-list-tile-action>
                  </v-list-tile>
                  <v-divider v-if="index + 1 < messages.length" :key="index"></v-divider>
                </template>
              </div>
            </v-list>
          </v-tab-item>

          <v-tab-item :value="'mobile-tabs-5-2'">
            <v-list two-line>
              <template v-for="(item, index) in messages">
                <v-list-tile avatar>
                  <v-list-tile-content @click.stop="dialog = true" @click="viewMessage(item)">
                    <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                    <v-list-tile-sub-title class="text--primary">{{ item.email }} | {{ item.telephone }}</v-list-tile-sub-title>
                    <v-list-tile-sub-title>{{ item.message }}</v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-action ripple @click="toggle(index, item)">
                    <v-list-tile-action-text>{{ item.date | moment("calendar") }} - {{ item.read }}</v-list-tile-action-text>
                    <v-icon v-if="selected.indexOf(index) < 0" color="grey lighten-1">star_border</v-icon>
                    <v-icon v-else color="yellow darken-2">star</v-icon>
                  </v-list-tile-action>
                </v-list-tile>
                <v-divider v-if="index + 1 < messages.length" :key="index"></v-divider>
              </template>
            </v-list>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-flex>

    <v-dialog v-model="dialog" max-width="290" data-app>
      <v-card v-if="message">
        <v-card-title class="headline">{{ message.name }}</v-card-title>
        <v-spacer></v-spacer>
        <v-card-text>{{ message.date | moment("calendar") }} | {{ message.budget }}</v-card-text>
        <v-card-text>{{ message.message }}</v-card-text>
        <v-card-actions>
          <v-btn color="green darken-1" flat="flat" @click="sendEmail">{{ message.email }}</v-btn>
        </v-card-actions>
        <v-card-actions>
          <v-btn color="green darken-1" flat="flat" @click="makePhoneCall">{{ message.telephone }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import { mapActions } from 'vuex'
import { mapState } from 'vuex'
import { EventBus } from '~/shared/EventBus.js'
import Navigation from '~/components/Navigation/Navigation'
import ContactIntro from '~/components/ContactIntro/ContactIntro'

export default {
  middleware: 'auth',
  head: {
    bodyAttrs: {
      class: 'work-page'
    }
  },
  layout: 'admin',
  components: {
    Navigation,
    ContactIntro
  },
  data() {
    return {
      allusers: [],
      loading: false,
      // messages: [],
      tabs: null,
      selected: [2, 3],
      isDark: true,
      //modal with all info
      dialog: false,
      message: '',
      //editedMessage
      editedMessage: this.message
        ? { ...this.message }
        : {
            name: '',
            budget: '',
            email: '',
            telephone: '',
            mesage: ''
          }
    }
  },
  computed: {
    ...mapState({
      messages: state => state.modules.messages.messages,
    })
  },
  methods: {
    darkLogo() {
      EventBus.$emit('blackLogo')
    },
    getAllMessages() {
      const user = this.$auth.loggedIn
      if (user) {
        this.$store.dispatch('modules/messages/fetchMessages')
      }
    },
    // mark message as read
    toggle(index, message) {
      const i = this.selected.indexOf(index)

      if (i > -1) {
        this.selected.splice(i, 1)
      } else {
        this.selected.push(index)
      }
    },
    viewMessage(message) {
      this.message = message
    },
    sendEmail() {
      alert('send email')
      this.dialog = false
    },
    makePhoneCall() {
      alert('make phone call')
      this.dialog = false
    }
  },
  mounted() {
    this.darkLogo()
    this.getAllMessages()
  }
}
</script>

<style lang="scss">
a.v-tabs__item.v-tabs__item {
  color: #444;
  font-weight: bold;
}
</style>
