<template>
  <v-flex xs12 sm12 elevation-6>
    <v-toolbar class="pt-5 black darken-4">
      <v-toolbar-title class="white--text">
        <h4>Login</h4>
      </v-toolbar-title>
    </v-toolbar>
    <v-card>
      <v-card-text class="pt-4">
        <div>
          <v-form v-model="valid" ref="form">
            <v-text-field label="Enter your e-mail address" v-model="email" :rules="emailRules" required></v-text-field>
            <v-text-field label="Enter your password" v-model="password" min="6" :type="e1 ? 'password' : 'text'" :rules="passwordRules" required></v-text-field>
            <v-layout justify-space-between>
              <v-btn @click="submit" :class=" { 'blue darken-4 white--text' : valid, disabled: !valid }">Login</v-btn>
            </v-layout>
          </v-form>
        </div>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
import Notifications from '~/components/Notifications/Notifications'

export default {
  props: {
    source: String
  },

  components: {
    Notifications
  },

  data() {
    return {
      valid: false,
      e1: false,
      password: '',
      passwordRules: [v => !!v || 'Password is required'],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v =>
          /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          'E-mail must be valid'
      ]
    }
  },

  methods: {
    async submit() {
      if (this.$refs.form.validate()) {
        try {
          await this.$auth.loginWith('local', {
            data: {
              identifier: this.email,
              password: this.password
            }
          })
          this.$router.push('/')
        } catch (e) {
          this.error = e
        }
      }
    }
  }
}
</script>
