<template>
  <div>
    <v-dialog data-app v-model="show" max-width="600px">
      <form @submit.prevent="sendMessage">
        <v-card>
          <v-card-title>
            <v-toolbar dark color="primary">
              <v-toolbar-title>Message Us</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-items>
                <v-btn icon dark @click.stop="show = false">
                  <v-icon>close</v-icon>
                </v-btn>
              </v-toolbar-items>
            </v-toolbar>
          </v-card-title>
          <v-card-text class="contact-modal">
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="data.name" label="Name*" required></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="data.telephone" label="Telephone*" required></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="data.email" label="Email*" required></v-text-field>
                </v-flex>
                <v-flex xs12 class="hideIfMobile">
                  <v-textarea v-model="data.message" name="input-7-1" label="Leave us a message" value hint="Leave us a message"></v-textarea>
                </v-flex>
                <v-flex xs12 sm12>
                  <v-select v-model="data.budget" :items="['R 0 - 10k', 'R 10k - 100k', 'R 100k - 500k', 'R 500k+']" label="Need work? Do you have a budget"></v-select>
                </v-flex>
              </v-layout>
              <small>*indicates required field</small>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-btn class="submit-button" color="dark darken-1" type="submit">Send Message</v-btn>
          </v-card-actions>
        </v-card>
      </form>
    </v-dialog>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  props: ['visible'],
  data() {
    return {
      data: {
        name: '',
        email: '',
        telephone: '',
        budget: '',
        info: '',
        read: false,
        date: new Date()
      }
    }
  },
  methods: {
    sendMessage() {
      var payload = {
        name: this.data.name,
        email: this.data.email,
        telephone: this.data.telephone,
        budget: this.data.budget,
        info: this.data.info,
        read: false,
        date: new Date()
      }
      this.$store.state.MessagePayload = payload
      this.$store.dispatch('modules/messages/postMessage')
      this.$toast.show('Thank you for submitting your details.', {
        duration: 8000,
        position: 'bottom-center',
        icon: 'check',
        action: {
          text: 'Close',
          onClick: (e, toastObject) => {
            toastObject.goAway(0)
          }
        }
      })
      this.$emit('close')
    }
  },
  mounted() {
    if (localStorage.getItem('8020__userFirstName')) {
      this.data.name = localStorage.getItem('8020__userFirstName')
    }
  },
  computed: {
    show: {
      get() {
        return this.visible
      },
      set(value) {
        if (!value) {
          this.$emit('close')
        }
      }
    }
  }
}
</script>

<style lang="scss">
.contact-modal {
  .theme--light {
    .v-label {
      color: rgba(0, 0, 0, 0.9) !important;
    }
  }
  .v-list__tile__title {
    color: #444;
  }

  @media screen and (max-width: 767px) {
    .hideIfMobile {
      display: none;
    }
    button.submit-button.v-btn.theme--light.light.darken-1 {
      background-color: #444;
      width: 100%;
      color: #e91e63;
      font-weight: bold;
    }
  }
}
</style>
