<template>
  <div>
    <v-navigation-drawer right :clipped="drawer.clipped" :fixed="drawer.fixed" v-model="drawer.open" app>
      <v-list>
        <v-list-tile @click.stop="toggleDrawer">
          <v-list-tile-action>
            <v-icon>close</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Close Menu</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>
        <v-list-tile v-for="item in items" :key="item.title" :to="item.href" @click.stop="toggleDrawer">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <span v-if="!loggedIn">
        <v-divider></v-divider>
        <p class="get-hold-of-us">Get hold of us</p>
        <v-divider></v-divider>

        <v-list-tile href="tel:+27725098034" @click.stop="toggleDrawer">
          <v-list-tile-action>
            <v-icon>phone_callback</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              +27 72 509 8034
            </v-list-tile-title>
          </v-list-tile-content>

        </v-list-tile>

        <v-list-tile href="tel:+27833937504" @click.stop="toggleDrawer">
          <v-list-tile-action>
            <v-icon>phone_callback</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              +27 83 393 7504
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile href="mailto:sales@eighty20.tech" @click.stop="toggleDrawer">
          <v-list-tile-action>
            <v-icon>email</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              sales@eighty20.tech
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        </span>


        <v-divider></v-divider>
        <p class="get-hold-of-us">Administration</p>
        <v-divider></v-divider>

        <span v-if="loggedIn">
        <v-list-tile v-if="loggedIn" @click.stop="toggleDrawer">
          <v-list-tile-action>
            <v-icon>face</v-icon>
          </v-list-tile-action>
          <v-list-tile-content >
            <v-list-tile-title >
              Hi {{ username }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click.stop="toggleDrawer" nuxt-link to="/admin">
          <v-list-tile-action>
            <v-icon>horizontal_split</v-icon>
          </v-list-tile-action>
          <v-list-tile-content >
            <v-list-tile-title >
              Messages
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click.stop="toggleDrawer" @click="logOut">
          <v-list-tile-action>
            <v-icon>lock</v-icon>
          </v-list-tile-action>
          <v-list-tile-content >
            <v-list-tile-title >
              Logout
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        </span>

        <v-list-tile v-else @click.stop="toggleDrawer" nuxt-link to="/auth/login">
          <v-list-tile-action>
            <v-icon>lock</v-icon>
          </v-list-tile-action>
          <v-list-tile-content >
            <v-list-tile-title>
              Login
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

      </v-list>
    </v-navigation-drawer>

    <v-toolbar app :fixed="toolbar.fixed" :clipped-left="toolbar.clippedLeft">
      <v-toolbar-title>
        <nuxt-link to="/" class="logo" v-bind:class="{ isBlack: isDark }">Eighty20</nuxt-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-side-icon class="menu-icon" v-bind:class="{ isBlack: isDark }" right @click.stop="toggleDrawer"></v-toolbar-side-icon>
    </v-toolbar>
  </div>
</template>

<script>
import { EventBus } from '~/shared/EventBus.js'

export default {
  name: 'Navigation',
  middleware: ['handle-login-route'],
  data() {
    return {
      username: '',
      loggedIn: this.$store.$auth.loggedIn,
      //logo color default
      isDark: false,
      //nav drawer
      drawer: null,
      items: [
        { title: 'Home', icon: 'home', href: '/' },
        { title: 'Clients', icon: 'build', href: '/clients' },
        { title: 'Services', icon: 'add_shopping_cart', href: '/services' },
        { title: 'Contact', icon: 'message', href: '/contact' },
      ],
      drawer: {
        open: false,
        clipped: false,
        fixed: false
      },
      toolbar: {
        fixed: true,
        clippedLeft: false
      }
    }
  },
  methods: {
    toggleDrawer() {
      this.drawer.open = !this.drawer.open
    },
    callOliver: function () {
      window.open("tel:+27833937504", "_blank");
    },
    callAlex: function () {
      window.open("tel:+27725098034", "_blank");
    },
    emailEighty20: function () {
      window.open("mailto:sales@eighty20.tech", "_blank");
    },
    logOut() {
      this.$auth.logout()
      this.loggedIn = false
    },
  },
  created() {
    EventBus.$on('whiteLogo', () => {
      this.isDark = false
    })
    EventBus.$on('blackLogo', () => {
      this.isDark = true
    })
    if(this.$store.$auth.user) {
      this.username = this.$store.$auth.user.username || false
    }
  }
}
</script>

<style>
#drawer {
  background: rgba(240, 240, 240, 1);
}
a.nuxt-link-active.isBlack {
  color: black;
}
button.menu-icon.v-toolbar__side-icon.v-btn.v-btn--icon.v-btn--right.theme--light.isBlack {
  color: black;
}
button.menu-icon.v-toolbar__side-icon.v-btn.v-btn--icon.theme--light {
  color: white;
}
.v-toolbar__title {
  font-size: 20px;
  font-weight: 600;
}
.v-toolbar__title a {
  color: white;
  text-decoration: none;
}
.logo {
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.logo:after {
  display: block;
  content: '';
  border-bottom: solid 3px #e91e63;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}
.logo:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}
</style>
