<template>
  <div>
    <p>Give us a shout:</p>
    <h1>
      <div class="welcome-message">
        Hello {{name}}
        <div v-if="name != 'Stranger'" class="not-me" @click="removeUser">not you?</div>
      </div>,
      <br /> Call, Skype, Email or Message Us
    </h1>
  </div>
</template>

<script>
import { EventBus } from '~/shared/EventBus.js'

export default {
  data() {
    return {
      name: '',
    }
  },
  methods: {
    onLeave(origin, destination, direction, data) {
      if (destination.index == 0) {
        EventBus.$emit('whiteLogo')
      } else {
        EventBus.$emit('blackLogo')
      }
    },
    removeUser() {
      localStorage.removeItem('8020__userFirstName');
      this.name = 'Stranger'
    }
  },
  mounted() {
    if(localStorage.getItem('8020__userFirstName')) {
      this.name = localStorage.getItem('8020__userFirstName');
    } else {
      this.name = 'Stranger'
    }
  }
}
</script>

<style lang="scss" scoped>
.contact_page {
  .welcome-message {
    position: relative;
    float: left
  }
  .not-me {
    position: absolute;
    right: -30px;
    top: -30px;
    font-size: 12px;
    color: #e91e63;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: #e91e63;
  }
  h1 {
    font-size: 86px;
    line-height: 96px;
    font-weight: 800;
    color: #ffffff;
    font-family: Proxima Nova A, Helvetica, sans-serif;
  }
  h2 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 800;
    color: #ffffff;
  }
  p {
    margin-bottom: 16px;
    color: white;
    font-size: 16px;
  }
  .contact-details h2 {
    color: #1b1a1e;
  }
  .contact-details p {
    color: #1b1a1e;
  }
}
</style>
