@font-face {
  font-family: 'Proxima Nova A';
  src: url('/fonts/ProximaNovaA-Bold.woff2') format('woff2'),
    url('/fonts/ProximaNovaA-Bold.woff') format('woff'),
    url('/fonts/ProximaNovaA-Bold.ttf') format('truetype'),
    url('/fonts/ProximaNovaA-Bold.svg#ProximaNovaA-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova A';
  src: url('/fonts/ProximaNovaA-Light.woff2') format('woff2'),
    url('/fonts/ProximaNovaA-Light.woff') format('woff'),
    url('/fonts/ProximaNovaA-Light.ttf') format('truetype'),
    url('/fonts/ProximaNovaA-Light.svg#ProximaNovaA-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #e91e63 !important;
}

::-webkit-scrollbar-track {
  background: #111;
}

::selection {
  background: #e91e63 !important;
}

::selection {
  background: #e91e63 !important;
  color: #ffffff;
}

a {
  color: white;
}

.theme--light.v-btn {
  color: rgba(0, 0, 0, 0.87);
}

.theme--light.v-toolbar {
  background-color: transparent;
  color: #ffffff;
}

.v-toolbar {
  box-shadow: none;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff;
}

.fp-controlArrow.fp-next {
  right: 45px;
}

img {
  max-width: 100%;
}

/* Transitions using the page hook */
.page-enter-active, .page-leave-active {
  transition: all 0.5s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}


body {
  font-family: 'Proxima Nova A';
  font-weight: 600;
  /* opacity: 1;
  transition: all 1s; */
  /* transform-origin: top left; */
}

a {
  text-decoration: none;
}

i.v-icon.material-icons.theme--dark {
  color: white;
}

.theme--light.v-navigation-drawer {
  background-color: #465a65;
  z-index: 1000;
}

aside .v-list__tile__title {
  height: 24px;
  line-height: 24px;
  position: relative;
  text-align: left;
  color: white;
  font-weight: bold;
}

a.primary--text.v-list__tile--active.v-list__tile.v-list__tile--link.theme--light {
  color: #e91e63;
}

.theme--light.v-icon {
  color: rgba(255,255,255,0.9);
}

p.get-hold-of-us {
  color: white;
  padding: 17px 17px 0px;
}
.tablet-mobile {
  display: none;
}
@media screen and (max-width: 769px) {
  .tablet-mobile {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .v-dialog__content.v-dialog__content--active .v-card__title {
    padding: 2px;
  }
  .v-dialog__content.v-dialog__content--active .v-card__text {
    padding: 0;
  }
}
