<template>
  <div class="throbber"></div>
</template>

<style scoped>
.throbber {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(27, 26, 30);
  z-index: 9999;
  text-align: center;
}
</style>
