<template>
  <v-layout wrap>
    <v-toolbar color="black" dark>
      <v-toolbar-side-icon @click.stop="toggleDrawer"></v-toolbar-side-icon>
      <v-toolbar-title>Messages</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon class="pr-4" @click="logOut()">Logout</v-btn>
    </v-toolbar>

    <nuxt/>

    <v-navigation-drawer left :clipped="drawer.clipped" :fixed="drawer.fixed" v-model="drawer.open" app>
      <v-list class="pa-1" @click.stop="toggleDrawer">
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <img v-if="avatar" :src="avatar">
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>{{user.email}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-list class="pt-0" dense>
        <v-divider></v-divider>
        <v-subheader class="mt-3 grey--text text--darken-1">PAGES</v-subheader>
        <v-list-tile v-for="item in items" :key="item.title" :to="item.href" @click.stop="toggleDrawer">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-divider></v-divider>

        <v-subheader class="mt-3 grey--text text--darken-1">DATABASE STATUS</v-subheader>

        <v-list-tile @click.stop="toggleDrawer">
          <v-list-tile-action>DEV</v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="text-right">
              <v-badge left color="green">
                <template v-slot:badge>
                  <span></span>
                </template>
              </v-badge>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-divider></v-divider>

        <v-list-tile @click.stop="toggleDrawer">
          <v-list-tile-action>STAGING</v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="text-right">
              <v-badge left color="orange">
                <template v-slot:badge>
                  <span></span>
                </template>
              </v-badge>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-divider></v-divider>

        <v-list-tile @click.stop="toggleDrawer">
          <v-list-tile-action>PRODUCTION</v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="text-right">
              <v-badge left color="red">
                <template v-slot:badge>
                  <span></span>
                </template>
              </v-badge>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-subheader class="mt-3 grey--text text--darken-1">SYSTEM SETTINGS</v-subheader>

        <v-list-tile @click.stop="toggleDrawer">
          <v-list-tile-action>
            <v-icon>settings</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>SETTINGS</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-subheader class="mt-3 grey--text text--darken-1" @click.stop="toggleDrawer">VERSION 1.0.01</v-subheader>
      </v-list>
    </v-navigation-drawer>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import { mapActions } from 'vuex'

export default {
  data() {

    return {
      user: this.$store.$auth.user,
      avatar: process.env.API_URL + this.$store.$auth.user.avatar.url,
      drawer: null,
      drawer: {
        open: false,
        clipped: false,
        fixed: false
      },
      toolbar: {
        fixed: true,
        clippedLeft: false
      },
      items: [
        { title: 'Messages', icon: 'question_answer', href: '/admin' },
        { title: 'Public Website', icon: 'dashboard', href: '/' }
      ]
    }
  },

  methods: {
    logOut() {
      this.$auth.logout()
      this.$router.push('/')
    },
    toggleDrawer() {
      this.drawer.open = !this.drawer.open
    }
  }

}
</script>

<style lang="scss" scoped>
.v-list__tile__action {
  color: white;
}
.v-list__tile__title.text-right {
  text-align: right;
}
.v-subheader.mt-3.grey--text.text--darken-1.theme--light {
  color: #efefef !important;
  font-weight: bold;
}
aside .v-list__tile__title {
  height: 27px;
}
.v-avatar img,
.v-avatar .v-icon,
.v-avatar .v-image {
    object-fit: cover;
}
</style>
