<template>
  <div>
    <v-content style="padding: 0">
      <v-layout>
        <nuxt/>
        <MessageForm :visible="showMessageForm" @close="showMessageForm = false"/>
      </v-layout>
      <v-speed-dial v-model="fab" :transition="transition">
        <template v-slot:activator>
          <v-btn v-model="fab" color="white darken-2" light fab>
            <v-icon>touch_app</v-icon>
            <v-icon>close</v-icon>
          </v-btn>
        </template>
        <v-btn fab dark small color="grey darken-1" @click.native="showMessageForm = true">
          <v-icon>message</v-icon>
        </v-btn>
        <v-btn fab dark small color="grey darken-2">
          <a href="mailto:alex@eighty20.tech">
            <v-icon>email</v-icon>
          </a>
        </v-btn>
        <v-btn fab dark small color="grey darken-3">
          <a href="tel:+27725098034">
            <v-icon>phone_iphone</v-icon>
          </a>
        </v-btn>
      </v-speed-dial>
    </v-content>
    <no-ssr>
      <template slot="placeholder">
        <InitalLoader />
      </template>
    </no-ssr>
  </div>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
import EventBus from '~/shared/EventBus.js'
import InitalLoader from '~/components/InitalLoader/InitalLoader'
import MessageForm from '~/components/MessageDialog/MessageDialog'

export default {
  components: {
    InitalLoader,
    MessageForm
  },
  data() {
    return {
      //fab icon
      direction: 'top',
      fab: false,
      fling: false,
      hover: true,
      right: true,
      bottom: true,
      transition: 'slide-y-reverse-transition',
      //message dialog
      showMessageForm: false
    }
  }
}
</script>

<style>
.v-speed-dial {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1000;
}
</style>
