<template>
  <div>
    <Navigation :isDark="isDark"/>
    <section class="work_page">
      <div>
        <full-page ref="fullpage" :options="options" id="fullpage">
          <div class="section" data-menuanchor="work">
            <div class="container">
              <p>We have been fortunate enough to have worked with:</p>
              <h1>
                International &
                <br>Local Companies
              </h1>
              <div class="hero__pull-down" @click="$refs.fullpage.api.moveSectionDown()">
                <img src="~/assets/home/pull-down-white.svg" alt="Scroll to see more.">
              </div>
            </div>
          </div>
          <div class="section" data-menuanchor="clients">
            <div class="container work-details">
              <p style="margin-top: 50px;">A couple cool clients we have worked with:</p>
              <br>
              <v-container fluid grid-list-lg class="client-logos">
                <v-layout row wrap>
                  <v-flex xs4 md2>
                    <v-avatar tile size="80">
                      <img src="~/assets/work/logos/hyundai.jpg" alt="Hyundai">
                    </v-avatar>
                  </v-flex>
                  <v-flex xs4 md2>
                    <v-avatar tile size="80">
                      <img src="~/assets/work/logos/godochurch.jpg" alt="GoDoChurch">
                    </v-avatar>
                  </v-flex>
                  <v-flex xs4 md2>
                    <v-avatar tile size="120">
                      <img src="~/assets/work/logos/player-tour.jpg" alt="Player Amatuer Tour">
                    </v-avatar>
                  </v-flex>
                  <v-flex xs4 md2>
                    <v-avatar tile size="120">
                      <img src="~/assets/work/logos/sanlam.jpg" alt="Sanlam">
                    </v-avatar>
                  </v-flex>
                  <v-flex xs4 md2>
                    <v-avatar tile size="100">
                      <img src="~/assets/work/logos/ducati.jpg" alt="Ducati - Beverly Hills">
                    </v-avatar>
                  </v-flex>
                  <v-flex xs4 md2>
                    <v-avatar tile size="120">
                      <img src="~/assets/work/logos/flexfit.jpg" alt="Flexfit">
                    </v-avatar>
                  </v-flex>
                  <v-flex xs4 md2>
                    <v-avatar tile size="120">
                      <img src="~/assets/work/logos/levis.jpg" alt="Levis">
                    </v-avatar>
                  </v-flex>
                  <v-flex xs4 md2>
                    <v-avatar tile size="120">
                      <img src="~/assets/work/logos/klooftique.jpg" alt="Klooftique">
                    </v-avatar>
                  </v-flex>
                  <v-flex xs4 md2>
                    <v-avatar tile size="120">
                      <img src="~/assets/work/logos/tgmlive.jpg" alt="TGM Live">
                    </v-avatar>
                  </v-flex>
                  <v-flex xs4 md2>
                    <v-avatar tile size="120">
                      <img src="~/assets/work/logos/dirteehollywood.jpg" alt="Dirtee Hollywood">
                    </v-avatar>
                  </v-flex>
                  <v-flex xs4 md2>
                    <v-avatar tile size="120">
                      <img src="~/assets/work/logos/swiftvee.jpg" alt="SwiftVee">
                    </v-avatar>
                  </v-flex>
                  <v-flex xs4 md2>
                    <v-avatar tile size="120">
                      <img src="~/assets/work/logos/food-lovers-market.jpg" alt="Food Lovers Market">
                    </v-avatar>
                  </v-flex>
                  <v-flex xs4 md2>
                    <v-avatar tile size="120">
                      <img src="~/assets/work/logos/decam.jpg" alt="Decam">
                    </v-avatar>
                  </v-flex>
                  <v-flex xs4 md2>
                    <v-avatar tile size="120">
                      <img src="~/assets/work/logos/vondis.jpg" alt="Vondis">
                    </v-avatar>
                  </v-flex>
                  <v-flex xs4 md2>
                    <v-avatar tile size="120">
                      <img src="~/assets/work/logos/thekartal.jpg" alt="The Kartal">
                    </v-avatar>
                  </v-flex>
                </v-layout>
              </v-container>
            </div>
          </div>
        </full-page>
      </div>
    </section>
  </div>
</template>

<script>
import { EventBus } from '~/shared/EventBus.js'
import Navigation from '~/components/Navigation/Navigation'

export default {
  //SEO
  head: {
    title: 'Clients | Web and Mobile App Development Company | Cape Town, South Africa',
    meta: [
      { hid: 'description', name: 'description', content: 'Eighty20 is a Web and Mobile App Development Company in Cape Town, South Africa. We have been building websites and mobile apps for over 15 years.' }
    ],
    bodyAttrs: {
      class: 'work-page'
    }
  },
  components: {
    Navigation
  },
  data() {
    return {
      //logo color
      isDark: true,
      //fullpage options
      options: {
        licenseKey: 'oobwH@p8',
        afterLoad: this.afterLoad,
        onLeave: this.onLeave,
        scrollBar: true,
        menu: '#menu',
        navigation: true,
        anchors: ['work', 'clients'],
        sectionsColor: ['#1b1a1e', '#ffffff']
      }
    }
  },
  methods: {
    onLeave(origin, destination, direction, data) {
      if (destination.index == 0) {
        EventBus.$emit('whiteLogo')
      } else {
        EventBus.$emit('blackLogo')
      }
    }
  }
}
</script>

<style lang="scss">
.work_page {
  a {
    text-decoration: none;
    color: #e91e63;
  }
  .flex.xs8 img {
    max-width: 685px;
    float: right;
    margin-right: 50px;
  }
  h1 {
    font-size: 86px;
    line-height: 96px;
    font-weight: 800;
    color: #ffffff;
    font-family: Proxima Nova A, Helvetica, sans-serif;
  }
  h2 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 800;
    color: #ffffff;
  }
  p {
    margin-bottom: 16px;
    color: white;
    font-size: 16px;
  }
  .work-details h2 {
    color: #1b1a1e;
  }
  .work-details p {
    color: #1b1a1e;
  }
  .headline {
    margin-bottom: 13px;
  }
  span {
    line-height: 17px;
  }
}
// @media only screen and (max-width:768px) {
//     .fp-scrollable {
//     	height: auto !important;
//     }
// }
@media screen and (max-width: 600px) {
  .work_page {
    h1 {
      font-size: 37px !important;
      line-height: 53px !important;
    }
    .v-avatar--tile img,
    .v-avatar--tile .v-icon,
    .v-avatar--tile .v-image {
      max-width: 70px;
      max-height: 70px;
    }
  }
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff !important;
}
.hero__pull-down {
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 8.33333%;
  text-align: center;
  cursor: pointer;
  z-index: 100;
}
.flex.xs4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
</style>
