<template>
  <div>
    <Navigation :isDark="isDark"/>
    <section class="contact_page">
      <div>
        <full-page ref="fullpage" :options="options" id="fullpage">
          <div class="section">
            <div class="container">
              <contact-intro/>
              <div class="hero__pull-down" @click="$refs.fullpage.api.moveSectionDown()">
                <img src="~/assets/home/pull-down-white.svg" alt="Scroll to see more.">
              </div>
            </div>
          </div>
          <div class="section">
            <div class="slide">
              <div class="container contact-details">
                <p>We do a range of consultancy and contract work, give us a shout.</p>
                <br>
                <h2>
                  Call:
                  <a href="tel:+27725098034">+27 72 509 8034</a> | <a href="tel:+27833937504">+27 83 393 7504</a>
                  <br>Skype:
                  <a href="skype:alex.molde?call">eighty20.tech</a>
                  <br>Email:
                  <a href="mailto:admin@eighty20.tech">admin@eighty20.tech</a>
                </h2>
                <br>
                <br>
                <br>
                <p>or <v-btn large color="dark" @click.native="showMessageForm = true">message us directly</v-btn></p>
              </div>
            </div>
          </div>
        </full-page>
      </div>
    </section>
    <MessageForm :visible="showMessageForm" @close="showMessageForm = false"/>
  </div>
</template>

<script>
import axios from 'axios'
import { EventBus } from '~/shared/EventBus.js'
import Navigation from '~/components/Navigation/Navigation'
import ContactIntro from '~/components/ContactIntro/ContactIntro'
import MessageForm from '~/components/MessageDialog/MessageDialog'

export default {
  //SEO
  head: {
    title: 'Contact Us | Web and Mobile App Development Company | Cape Town, South Africa',
    meta: [
      { hid: 'description', name: 'description', content: 'Eighty20 is a Web and Mobile App Development Company in Cape Town, South Africa. We have been building websites and mobile apps for over 15 years.' }
    ],
    bodyAttrs: {
      class: 'contact-page'
    }
  },
  components: {
    Navigation,
    ContactIntro,
    MessageForm
  },
  data() {
    return {
      //message dialog
      showMessageForm: false,
      //logo color
      isDark: true,
      //fullpage options
      options: {
        licenseKey: 'oobwH@p8',
        afterLoad: this.afterLoad,
        onLeave: this.onLeave,
        scrollBar: true,
        menu: '#menu',
        navigation: true,
        anchors: ['whats-up', 'information'],
        sectionsColor: ['#1b1a1e', '#ffffff']
      }
    }
  },
  methods: {
    onLeave(origin, destination, direction, data) {
      if (destination.index == 0) {
				EventBus.$emit('whiteLogo')
      } else {
        EventBus.$emit('blackLogo')
      }
    }
  }
}
</script>

<style lang="scss">
.contact_page {
  a {
    text-decoration: none;
    color: #e91e63;
  }
  .flex.xs8 img {
    max-width: 685px;
    float: right;
    margin-right: 50px;
  }
  h1 {
    font-size: 86px;
    line-height: 96px;
    font-weight: 800;
    color: #ffffff;
    font-family: Proxima Nova A, Helvetica, sans-serif;
  }
  h2 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 800;
    color: #ffffff;
  }
  p {
    margin-bottom: 16px;
    color: white;
    font-size: 16px;
  }
  .v-btn {
    font-weight: 600;
    color: #444 !important;
  }
  .contact-details h2 {
    color: #1b1a1e;
  }
  .contact-details p {
    color: #1b1a1e;
  }
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff !important;
}
.hero__pull-down {
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 8.33333%;
  text-align: center;
  cursor: pointer;
  z-index: 100;
}
.flex.xs4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width:600px) {
  .contact_page {
    h1 {
      font-size: 37px !important;
      line-height: 53px !important;
    }
    .contact-details h2 {
      font-size: 15px;
      line-height: 30px;
    }
  }
}
</style>
