<template>
  <div>
    <Navigation/>
    <section class="home_page">
      <div>
        <full-page ref="fullpage" :options="options" id="fullpage">
          <div class="section">
            <div class="container">
              <p>Welcome, we're a small dev house that builds:</p>
              <h1>
                Mobile & Web
                <br>Development Applications
              </h1>
              <div class="hero__pull-down" @click="$refs.fullpage.api.moveSectionDown()">
                <img src="~/assets/home/pull-down-white.svg" alt="Scroll to see more.">
              </div>
            </div>
          </div>
          <div class="section">
            <div class="slide">
              <div class="container">
                <h1>
                  Some
                  <br>Featured Work
                </h1>
                <br>
                <p>Scroll to the right to see view a few some of our featured work.</p>
                <br>
                <br>
                <a href="#work/hyundai">
                  <v-btn large color="dark">View some of our work</v-btn>
                </a>
              </div>
            </div>
            <div class="slide" data-anchor="hyundai">
              <div class="container">
                <v-layout row wrap>
                  <v-flex lg4 sm12>
                    <v-card color="transparent">
                      <v-card-text class="px-0">
                        <p class="text-uppercase thin">Recent Work</p>
                        <h2>
                          HYUNDAI
                          <br>South Africa
                        </h2>
                        <br>
                        <p class="thin">A complete rebuild from the ground up of the South African HYUNDAI website.</p>
                        <br>
                        <p class="text-uppercase thin tech_used">
                          <span>FrontEnd & Backend Development</span>
                          <span>SEO</span>
                          <span>API Development</span>
                          <span>VueJS</span>
                          <span>NuxtJS</span>
                          <span>Classifieds</span>
                          <span>Find a dealer</span>
                          <span>Booking System</span>
                          <span><a href="https://www.hyundai.co.za/" target="_blank">Visit Website</a></span>
                        </p>
                      </v-card-text>
                    </v-card>
                  </v-flex>
                  <v-flex lg8 sm12>
                    <v-card color="transparent">
                      <v-card-text class="px-0">
                        <img src="~/assets/work/hyundai/home.jpg">
                      </v-card-text>
                    </v-card>
                  </v-flex>
                </v-layout>
              </div>
            </div>
            <div class="slide" data-anchor="godochurch">
              <div class="container">
                <v-layout row wrap>
                  <v-flex lg4 sm12>
                    <v-card color="transparent">
                      <v-card-text class="px-0">
                        <p class="text-uppercase thin">Recent Work</p>
                        <h2>GoDoChurch</h2>
                        <br>
                        <p class="thin">Maintaining the largest church software in Africa.</p>
                        <br>
                        <p class="text-uppercase thin tech_used">
                          <span>FrontEnd Development</span>
                          <span>Maintenance</span>
                          <span>Scrums</span>
                          <span>Systems Architecture</span>
                          <span>Sprints</span>
                          <span>Backend Development</span>
                          <span>API Development</span>
                          <span>AngularJs</span>
                          <span>Knockout</span>
                          <span><a href="https://godochurch.com/" target="_blank">Visit Website</a></span>
                        </p>
                      </v-card-text>
                    </v-card>
                  </v-flex>
                  <v-flex lg8 sm12>
                    <v-card color="transparent">
                      <v-card-text class="px-0">
                        <img src="~/assets/work/godochurch/godochurch.jpg">
                      </v-card-text>
                    </v-card>
                  </v-flex>
                </v-layout>
              </div>
            </div>
            <div class="slide" data-anchor="campingspots">
              <div class="container">
                <v-layout row wrap>
                  <v-flex lg4 sm12>
                    <v-card color="transparent">
                      <v-card-text class="px-0">
                        <p class="text-uppercase thin">Recent Work</p>
                        <h2>
                          Camping Spots
                          <br>South Africa
                        </h2>
                        <br>
                        <p class="thin">IOS & Android mobile application</p>
                        <br>
                        <p class="text-uppercase thin tech_used">
                          <span>FrontEnd Development</span>
                          <span>Plugin Development</span>
                          <span>Ionic</span>
                          <span>Node API Development</span>
                          <span>Angular</span>
                          <span>IOS currently in Development</span>
                          <span><a href="https://play.google.com/store/apps/details?id=io.apphouse.campingspots" target="_blank">Available on Google Play</a></span>
                        </p>
                      </v-card-text>
                    </v-card>
                  </v-flex>
                  <v-flex lg8 sm12>
                    <v-card color="transparent">
                      <v-card-text class="px-0">
                        <img src="~/assets/work/campingspots/campingspots.jpg">
                      </v-card-text>
                    </v-card>
                  </v-flex>
                </v-layout>
              </div>
            </div>
            <div class="hero__pull-down" @click="$refs.fullpage.api.moveSectionDown()">
              <img src="~/assets/home/pull-down-white.svg" alt="Scroll to see more.">
            </div>
          </div>
          <div class="section">
            <div class="container">
              <h1>
                Our Services
                <br>& Skills
              </h1>
              <br>
              <p>&nbsp;Specialising in multiple tech stacks like PHP, C#, VueJS, React, Angular, Hybrid Mobile Frameworks and more...</p>
              <br>
              <br>
              <nuxt-link to="/services">
                <v-btn large color="dark">View all our services</v-btn>
              </nuxt-link>
              <div class="hero__pull-down" @click="$refs.fullpage.api.moveSectionDown()">
                <img src="~/assets/home/pull-down-white.svg" alt="Scroll to see more.">
              </div>
            </div>
          </div>
          <div class="section">
            <div class="container">
              <h1>Contact Us</h1>
              <br>
              <p>&nbsp;We would love to hear from you, give us a call and let's grab a coffee and chat!</p>
              <p>&nbsp;or start a conversation with us below...</p>
              <br>
              <br>
              <v-flex xs12 md4 pl-2 pr-5 class="get-users-name">
                <v-text-field v-model="firstName" :rules="nameRules" label="Let's start with your name?" required></v-text-field>
              </v-flex>
              <br>
              <br>
              <v-btn @click="continueConversation" large color="dark">
                <span class="lets-continue-button">
                  Let's talk
                  <v-icon class="lets-continue-icon">arrow_forward_ios</v-icon>
                </span>
              </v-btn>
            </div>
          </div>
        </full-page>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { EventBus } from '~/shared/EventBus.js'
import Navigation from '~/components/Navigation/Navigation'

export default {
  //SEO
  head: {
    title: 'Web and Mobile App Development Company | Cape Town, South Africa',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content:
          'Eighty20 is a Web and Mobile App Development Company in Cape Town, South Africa. We have been building websites and mobile apps for over 15 years.'
      }
    ]
  },
  components: {
    Navigation
  },
  data() {
    return {
      //fullpage options
      options: {
        licenseKey: 'oobwH@p8',
        afterLoad: this.afterLoad,
        scrollBar: true,
        menu: '#menu',
        navigation: true,
        anchors: ['hello', 'work', 'services', 'contact'],
        sectionsColor: [
          '#1b1a1e',
          '#ff5f45',
          '#0798ec',
          '#fec401',
          '#1bcee6',
          '#ee1a59',
          '#2c3e4f',
          '#ba5be9',
          '#b4b8ab'
        ],
        navigationTooltips: ['Hello', 'Work', 'Services', 'Contact']
      },
      // first name on contact form
      valid: false,
      firstName: '',
      data: '',
      nameRules: [
        v => !!v || 'Please enter your name',
        v => v.length >= 3 || 'Name must be at least 3 characters'
      ]
    }
  },
  methods: {
    continueConversation() {
      localStorage.setItem('8020__userFirstName', this.firstName)
      this.$router.push({
        path: '/contact'
      })
    }
  }
}
</script>

<style lang="scss">
.home_page {
  .theme--light.v-toolbar {
    background-color: transparent !important;
    color: #ffffff;
  }
  .flex.xs8 img {
    max-width: 685px;
    float: right;
    margin-right: 50px;
  }
  h1 {
    font-size: 86px;
    line-height: 96px;
    font-weight: 800;
    color: #ffffff;
    font-family: Proxima Nova A, Helvetica, sans-serif;
  }
  h2 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 800;
    color: #ffffff;
  }
  p {
    margin-bottom: 16px;
    color: white;
    font-size: 16px;
  }
  .thin {
    font-family: Proxima Nova A, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: antiquewhite;
  }
  a {
    text-decoration: none;
    color: #444;
  }
  p.tech_used span {
    background-color: #e91e63 !important;
    padding: 4px;
    border-radius: 2px;
    display: inline-block;
    margin-bottom: 3px;
    font-size: 13px;
    color: #ffffff !important;
  }
  p.tech_used a {
    color: #ffffff;
  }
  .v-btn {
    font-weight: 600;
    color: #444 !important;
  }
  .v-card.v-sheet.theme--light.transparent {
    box-shadow: none;
  }
  .lets-continue-icon {
    font-size: 15px;
    margin-left: 9px;
  }
  .theme--light.v-input:not(.v-input--is-disabled) input,
  .theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: rgba(255, 255, 255, 0.87) !important;
  }
  .v-input:not(.v-input--is-disabled) input,
  .v-input:not(.v-input--is-disabled) textarea {
    color: white !important;
  }
  .theme--light.v-messages {
    color: #e91e63 !important;
  }
  .theme--light.v-label {
    color: rgba(255, 255, 255, 0.9) !important;
  }
  .v-input__slot {
    color: white !important;
  }
  .v-input.v-text-field.v-input--has-state.v-input--is-focused.theme--light.error--text {
    color: white !important;
  }
  .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    border-color: rgba(255, 255, 255, 0.42);
  }
  .theme--light.v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
    background-color: rgba(0, 0, 0, 0.12) !important;
    color: white !important;
  }
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff !important;
}
.hero__pull-down {
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 8.33333%;
  text-align: center;
  cursor: pointer;
  z-index: 100;
}
.flex.xs4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .fp-controlArrow.fp-next,
  .fp-controlArrow.fp-prev {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .home_page {
    h1 {
      font-size: 47px;
      line-height: 45px;
    }
    img {
      max-width: 96%;
    }
    p {
      padding-right: 30px;
      line-height: 20px;
    }
  }
}
</style>
