<template>
  <div>
    <Navigation :isDark="isDark"/>
    <section class="services_page">
      <div>
        <full-page ref="fullpage" :options="options" id="fullpage">
          <div class="section page">
            <div class="container">
              <p>Years of experience and skilled developers build:</p>
              <h1>
                High Quality &
                <br>Maintainable Code
              </h1>
              <div class="hero__pull-down" @click="$refs.fullpage.api.moveSectionDown()">
                <img src="~/assets/home/pull-down-white.svg" alt="Scroll to see more.">
              </div>
            </div>
          </div>
          <div class="section page">
            <div class="slide">
              <div class="container services-details">
                <p style="margin-top: 50px;">Some of our skills & services we provide:</p>
                <p class="tablet-mobile" @click="$refs.fullpage.api.moveSectionUp()">Back to top</p>
                <br>
                <v-card>
                  <v-container fluid grid-list-lg>
                    <v-layout row wrap>
                      <v-flex xs12 md4>
                        <v-card color="pink darken-2" class="white--text">
                          <v-card-title primary-title>
                            <div>
                              <div class="headline">Web Development</div>
                              <span>We are specialists in a range of web technologies that include C#, PHP, NodeJS, Angular, Vue.js & React</span>
                            </div>
                          </v-card-title>
                          <v-card-actions>
                            <v-btn flat dark @click.native="showMessageForm = true">Not listed? Ask us</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-flex>
                      <v-flex xs12 md4>
                        <v-card color="pink darken-2" class="white--text">
                          <v-card-title primary-title>
                            <div>
                              <div class="headline">Mobile Development</div>
                              <span>We have built many mobile apps over the years ranging from full native IOS & Android to Hybrid Ionic apps which save time and money.</span>
                            </div>
                          </v-card-title>
                          <v-card-actions>
                            <v-btn flat dark @click.native="showMessageForm = true">Mobile Questions? us</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-flex>
                      <v-flex xs12 md4>
                        <v-card color="pink darken-2" class="white--text">
                          <v-card-title primary-title>
                            <div>
                              <div class="headline">Maintenance</div>
                              <span>Already have a web or mobile application in production and need a team of highly skilled developers to manage and maintain it?</span>
                            </div>
                          </v-card-title>
                          <v-card-actions>
                            <v-btn flat dark @click.native="showMessageForm = true">Maintenance Questions?</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-flex>
                      <v-flex xs12 md4>
                        <v-card color="pink darken-2" class="white--text">
                          <v-card-title primary-title>
                            <div>
                              <div class="headline">Hosting & Deployment</div>
                              <span>We also provide hosting and deployment services, so our clients get a full solution from development to deployment of their products.</span>
                            </div>
                          </v-card-title>
                          <v-card-actions>
                            <v-btn flat dark @click.native="showMessageForm = true">Hosting Questions?</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-flex>
                      <v-flex xs12 md4>
                        <v-card color="pink darken-2" class="white--text">
                          <v-card-title primary-title>
                            <div>
                              <div class="headline">Working on-site</div>
                              <span>We work on-site if neccessary and required by the client. This proves to be useful if serveral people need to work together within the business.</span>
                            </div>
                          </v-card-title>
                          <v-card-actions>
                            <v-btn flat dark @click.native="showMessageForm = true">On-site Questions?</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-flex>
                      <v-flex xs12 md4>
                        <v-card color="pink darken-2" class="white--text">
                          <v-card-title primary-title>
                            <div>
                              <div class="headline">Partnerships</div>
                              <span>We arn't just guys who want to build your product. If we believe in your vision & idea we are always looking to team up.</span>
                            </div>
                          </v-card-title>
                          <v-card-actions>
                            <v-btn flat dark @click.native="showMessageForm = true">Interested?</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card>
                <br>
                <br>
                <br>
                <p class="note">~ If you don't see something listed above please contact us as we have a wide reach of highly skilled developers and engineers.</p>
              </div>
            </div>
          </div>
        </full-page>
      </div>
    </section>
    <MessageForm :visible="showMessageForm" @close="showMessageForm = false"/>
  </div>
</template>

<script>
import { EventBus } from '~/shared/EventBus.js'
import Navigation from '~/components/Navigation/Navigation'
import MessageForm from '~/components/MessageDialog/MessageDialog'

export default {
  //SEO
  head: {
    title: 'Our Services | Web and Mobile App Development Company | Cape Town, South Africa',
    meta: [
      { hid: 'description', name: 'description', content: 'Eighty20 is a Web and Mobile App Development Company in Cape Town, South Africa. We have been building websites and mobile apps for over 15 years.' }
    ],
    bodyAttrs: {
      class: 'services-page'
    }
  },
  components: {
    Navigation,
    MessageForm
  },
  data() {
    return {
      //message dialog
      showMessageForm: false,
      //logo color
      isDark: true,
      //fullpage options
      options: {
        licenseKey: 'oobwH@p8',
        afterLoad: this.afterLoad,
        onLeave: this.onLeave,
        scrollBar: true,
        menu: '#menu',
        navigation: true,
        anchors: ['what-we-do', 'skills'],
        sectionsColor: ['#1b1a1e', '#ffffff'],
        sectionSelector: '.page',
        scrollOverflow: true
      }
    }
  },
  methods: {
    onLeave(origin, destination, direction, data) {
      if (destination.index == 0) {
        EventBus.$emit('whiteLogo')
      } else {
        EventBus.$emit('blackLogo')
      }
    }
  }
}
</script>

<style lang="scss">
.services_page {
  a {
    text-decoration: none;
    color: #e91e63;
  }
  .flex.xs8 img {
    max-width: 685px;
    float: right;
    margin-right: 50px;
  }
  h1 {
    font-size: 86px;
    line-height: 96px;
    font-weight: 800;
    color: #ffffff;
    font-family: Proxima Nova A, Helvetica, sans-serif;
  }
  h2 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 800;
    color: #ffffff;
  }
  p {
    margin-bottom: 16px;
    color: white;
    font-size: 16px;
  }
  p.note {
    font-style: italic;
    color: #999999 !important;
    font-size: 13px;
  }
  .services-details h2 {
    color: #1b1a1e;
  }
  .services-details p {
    color: #1b1a1e;
  }
  .headline {
    margin-bottom: 13px;
  }
  span {
    line-height: 17px;
  }
}
@media screen and (max-width: 600px) {
  .services_page {
    h1 {
      font-size: 37px !important;
      line-height: 53px !important;
    }
  }
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff !important;
}
.hero__pull-down {
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 8.33333%;
  text-align: center;
  cursor: pointer;
  z-index: 100;
}
.flex.xs4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
</style>
